APP_NAME=haji-umroh-store-be
APP_PORT=8080
APP_ENV=development

DB_HOST=localhost
DB_PORT=26257
DB_USER=root
DB_PASSWORD=
DB_NAME=haji_umroh_store
DB_SSLMODE=disable
DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=100
