openapi: 3.0.3
info:
  title: Vendor API
  version: 1.0.0
  description: Dokumentasi OpenAPI 3 untuk modul vendor/seller (UMKM), termasuk pendaftaran, autentikasi, produk, voucher, saldo, pengiriman, alamat gudang, kurir, order, banner toko, laporan pendapatan, dan chat.
servers:
  - url: https://haji-umroh-store-api.jauhar.id
    description: Local development server
tags:
  - name: Vendor Registration
    description: Operasi pendaftaran UMKM baru.
  - name: Vendor Auth
    description: Autentikasi vendor.
  - name: Vendor Documents
    description: Manajemen dokumen vendor.
  - name: Vendor Products
    description: Manajemen produk vendor.
  - name: Vendor Vouchers
    description: CRUD voucher diskon nominal per item (produk milik vendor).
  - name: Vendor Balance
    description: Operasi saldo dan penarikan vendor (Tokopedia-style self-service).
  - name: Vendor Bank Accounts
    description: Manajemen rekening bank vendor untuk payout dan penarikan saldo.
  - name: Vendor Shipping
    description: Lookup lokasi pengiriman dan master kurir untuk kebutuhan vendor.
  - name: Vendor Locations
    description: Lookup wilayah Indonesia untuk form alamat umum dan profil vendor.
  - name: Vendor Addresses
    description: Manajemen alamat vendor/customer yang dipakai sebagai alamat gudang.
  - name: Vendor Couriers
    description: Manajemen kurir aktif yang dipilih vendor.
  - name: Vendor Orders
    description: Kelola order vendor, invoice, shipping, export, dan tracking.
  - name: Vendor Banners
    description: Manajemen banner toko vendor dan endpoint banner publik toko.
  - name: Vendor Dashboard
    description: Dashboard ringkasan penjualan, transaksi hari ini, notifikasi, dan alur pembayaran vendor.
  - name: Vendor Report
    description: Laporan pendapatan vendor — KPI summary dan rincian pendapatan harian dengan export CSV.
  - name: Vendor Chat
    description: Pencarian user, percakapan, pesan, attachment, dan read state untuk alur chat vendor.
  - name: Xendit Webhook
    description: Endpoint callback webhook dari Xendit.
paths:
  /api/v1/vendors/register/request-otp:
    post:
      tags:
        - Vendor Registration
      summary: 1. Request OTP
      description: Memulai flow onboarding vendor dengan mengirim OTP ke email vendor.
      operationId: requestVendorRegistrationOTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorRegisterOTPRequest"
            example:
              email: toko.mabrur@example.com
      responses:
        "201":
          description: OTP berhasil dibuat dan dikirim.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorRegisterOTPEnvelope"
        "400":
          description: Request tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Email sudah terpakai atau sudah punya profil vendor.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: OTP diminta terlalu cepat.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/register/verify-otp:
    post:
      tags:
        - Vendor Registration
      summary: 2. Verify OTP
      description: Memverifikasi OTP dan mengembalikan `email_token` untuk step register vendor berikutnya.
      operationId: verifyVendorRegistrationOTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorVerifyRegistrationOTPRequest"
            example:
              email: toko.mabrur@example.com
              code: "123456"
      responses:
        "200":
          description: OTP valid dan `email_token` diterbitkan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorVerifyRegistrationOTPEnvelope"
        "400":
          description: OTP salah atau payload tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Email sudah terpakai akun vendor.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: OTP terlalu banyak salah atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/register/password:
    post:
      tags:
        - Vendor Registration
      summary: 3. Set Password
      operationId: saveVendorRegistrationPassword
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorRegistrationPasswordRequest"
      responses:
        "200":
          description: Registrasi vendor selesai dan auth token diterbitkan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorLoginEnvelope"
              example:
                success: true
                message: vendor registration completed
                data:
                  access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  email: toko.mabrur@example.com
                  image_url: null
                  store_name: null
                  vendor_type: null
                  vendor_status: draft
                errors: null
                meta: null
        "400":
          description: Step onboarding tidak valid atau payload tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Email token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/login:
    post:
      tags:
        - Vendor Auth
      summary: Login vendor
      description: |
        Mengautentikasi vendor menggunakan email dan password.
        Mengembalikan JWT token yang berisi `user_id`, `email`, `roles`, dan `vendor_id` di claims.

        **Aturan akses:**
        - User harus memiliki role `umkm`.
        - User harus memiliki profil vendor yang terhubung.
        - Semua status vendor diizinkan login **kecuali `blocked`** (draft, submitted, active, rejected).
      operationId: loginVendor
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorLoginRequest"
            example:
              email: toko.mabrur@example.com
              password: SecurePass123!
      responses:
        "200":
          description: Login berhasil. Response berisi JWT token dan informasi vendor.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorLoginEnvelope"
              example:
                success: true
                message: login successful
                data:
                  access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  image_url: null
                  email: toko.mabrur@example.com
                  store_name: Toko Oleh-Oleh Haji Mabrur
                  vendor_type: null
                  vendor_status: active
                errors: null
                meta: null
        "400":
          description: Request tidak valid (validasi gagal).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: validation failed
                data: null
                errors: "Key: 'VendorLoginRequest.Email' Error:Field validation for 'Email' failed on the 'required' tag"
                meta: null
        "401":
          description: Email atau password salah.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid email or password
                data: null
                errors: null
                meta: null
        "403":
          description: Akses ditolak — user bukan vendor, tidak memiliki profil vendor, atau akun vendor diblokir.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                vendorAccessRequired:
                  summary: User bukan vendor (tidak punya role umkm)
                  value:
                    success: false
                    message: vendor access required
                    data: null
                    errors: null
                    meta: null
                noVendorProfile:
                  summary: User tidak memiliki profil vendor
                  value:
                    success: false
                    message: no vendor profile found
                    data: null
                    errors: null
                    meta: null
                vendorBlocked:
                  summary: Akun vendor diblokir
                  value:
                    success: false
                    message: vendor account is blocked
                    data: null
                    errors: null
                    meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
  /api/v1/vendors/me:
    get:
      tags:
        - Vendor Auth
      summary: Get Profile Vendor
      description: |
        Mengembalikan profil vendor berdasarkan `vendor_id` yang sudah diekstrak middleware
        dari Bearer token.

        **Autentikasi:**
        - Wajib menyertakan header `Authorization: Bearer <token>`.
        - Token harus valid dan memiliki role `umkm`.
        - `vendor_id` dibaca dari claims token oleh middleware auth.
      operationId: getVendorMe
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Profil vendor berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorMeEnvelope"
              example:
                success: true
                message: vendor profile retrieved successfully
                data:
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  image_url: https://cdn.umrahmart.com/vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/profile.jpg
                  email: toko.mabrur@example.com
                  store_name: Toko Oleh-Oleh Haji Mabrur
                  vendor_type: null
                  vendor_status: active
                  status_reason: null
                errors: null
                meta: null
        "400":
          description: "`vendor_id` pada context auth tidak tersedia atau tidak valid."
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid vendor ID in token
                data: null
                errors: null
                meta: null
        "401":
          description: Token tidak diberikan, tidak valid, atau sudah expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                missingHeader:
                  summary: Header Authorization tidak ada
                  value:
                    success: false
                    message: missing authorization header
                    data: null
                    errors: null
                    meta: null
                invalidToken:
                  summary: Token tidak valid atau expired
                  value:
                    success: false
                    message: invalid or expired token
                    data: null
                    errors: null
                    meta: null
        "403":
          description: User tidak memiliki role yang diizinkan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: Vendor atau owner user tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                vendorNotFound:
                  summary: Vendor tidak ditemukan
                  value:
                    success: false
                    message: vendor not found
                    data: null
                    errors: null
                    meta: null
                userNotFound:
                  summary: Owner user tidak ditemukan
                  value:
                    success: false
                    message: user not found
                    data: null
                    errors: null
                    meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
  /api/v1/vendors/me/profile:
    put:
      tags:
        - Vendor Auth
      summary: Update Profile Vendor
      description: |
        Memperbarui profil vendor (saat ini mendukung pembaruan nama toko dan deskripsi).

        **Autentikasi:**
        - Wajib menyertakan header `Authorization: Bearer <token>`.
        - Token harus valid dan memiliki role `umkm`.
      operationId: updateVendorProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorUpdateProfileRequest"
            example:
              store_name: "Toko Baru Mekkah"
              store_description: "Toko oleh-oleh haji dan umrah terlengkap di Jakarta."
      responses:
        "200":
          description: Profil vendor berhasil diperbarui. Mengembalikan data profil terbaru.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorMeEnvelope"
        "400":
          description: Payload tidak valid (misal, `store_name` kosong atau terlalu panjang).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: User tidak memiliki akses sebagai vendor.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Vendor tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/register/propose/souvenir_store/presign:
    post:
      tags:
        - Vendor Registration
      summary: Presign dokumen proposal souvenir store
      description: |
        Menghasilkan `object_id` dan `presigned_url` untuk upload 3 dokumen proposal vendor souvenir store:
        KTP penanggung jawab, NIB, dan sertifikat halal.

        Endpoint ini hanya membuat URL upload ke storage dan belum menyimpan metadata dokumen ke database.
        `object_id` yang diterima dari response harus dipakai kembali pada endpoint submit proposal.

        **Autentikasi:**
        - Wajib menyertakan header `Authorization: Bearer <token>`.
        - Token harus valid dan memiliki role `umkm`.
        - Vendor harus milik user login dan berada pada status yang diizinkan untuk melengkapi proposal.

        **Aturan MIME:**
        - Setiap field menerima MIME dokumen yang diizinkan sistem, misalnya `image/jpeg`, `image/png`, `image/webp`, atau `application/pdf`.
      operationId: presignVendorSouvenirStoreProposalDocuments
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorSouvenirStoreProposalPresignRequest"
            example:
              responsible_person_ktp: image/png
              nib: image/jpeg
              halal_certificate: application/pdf
      responses:
        "200":
          description: Presigned upload URL berhasil dibuat.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorSouvenirStoreProposalPresignEnvelope"
              example:
                success: true
                message: presigned upload URL generated
                data:
                  responsible_person_ktp:
                    object_id: vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/owner_document_id/8df7708e-fba2-4f2d-9300-3a441a9365c6
                    presigned_url: https://s3.amazonaws.com/bucket/vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/owner_document_id/8df7708e-fba2-4f2d-9300-3a441a9365c6?X-Amz-Signature=...
                  nib:
                    object_id: vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/business_nib/6c6e6c5d-1cec-4e7f-b676-f8756024d50c
                    presigned_url: https://s3.amazonaws.com/bucket/vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/business_nib/6c6e6c5d-1cec-4e7f-b676-f8756024d50c?X-Amz-Signature=...
                  halal_certificate:
                    object_id: vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/halal_certificate/72d95895-02cf-4344-b855-7dd7952eb6b1
                    presigned_url: https://s3.amazonaws.com/bucket/vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/halal_certificate/72d95895-02cf-4344-b855-7dd7952eb6b1?X-Amz-Signature=...
                errors: null
                meta: null
        "400":
          description: Request tidak valid atau MIME type dokumen tidak didukung.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak diberikan, tidak valid, atau sudah expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Vendor tidak dimiliki user login atau status vendor tidak mengizinkan pengajuan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Vendor tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/register/propose/souvenir_store:
    post:
      tags:
        - Vendor Registration
      summary: Submit proposal souvenir store
      description: |
        Mengirim data profil dan dokumen proposal vendor souvenir store untuk diajukan ke review admin.

        Endpoint ini akan:
        - memperbarui profil toko vendor,
        - memperbarui kontak owner user,
        - menyimpan NIK penanggung jawab,
        - menyimpan referensi dokumen KTP, NIB, dan sertifikat halal,
        - lalu mengubah status vendor menjadi `submitted`.
      operationId: submitVendorSouvenirStoreProposal
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorSouvenirStoreProposalRequest"
            example:
              store_name: Toko Oleh-Oleh Haji Mabrur
              store_description: Menjual aneka oleh-oleh haji dan umrah.
              address:
                province_id: "31"
                city_id: "3171"
                district_id: "317101"
                subdistrict_id: "3171011001"
                postal_code: "10320"
                address_line: Jl. Pegangsaan Barat No. 12
              responsible_person:
                name: Ahmad Fauzi
                phone: "+6281234567890"
                email: toko.mabrur@example.com
                nik: "3175090901010001"
                ktp_object_id: vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/owner_document_id/8df7708e-fba2-4f2d-9300-3a441a9365c6
              other_documents:
                nib_object_id: vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/business_nib/6c6e6c5d-1cec-4e7f-b676-f8756024d50c
                halal_certificate_object_id: vendors/a1b2c3d4-e5f6-7890-abcd-ef1234567890/documents/halal_certificate/72d95895-02cf-4344-b855-7dd7952eb6b1
      responses:
        "200":
          description: Proposal vendor berhasil dikirim.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorSouvenirStoreProposalEnvelope"
              example:
                success: true
                message: vendor proposal submitted successfully
                data:
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  status: submitted
                errors: null
                meta: null
        "400":
          description: Request tidak valid atau data dokumen tidak sesuai.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak diberikan, tidak valid, atau sudah expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Vendor tidak dimiliki user login atau status vendor tidak mengizinkan pengajuan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Vendor atau owner user tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/products:
    get:
      tags:
        - Vendor Products
      summary: Get List Produk
      description: |
        Mengambil daftar paginasi dari semua produk milik vendor yang sedang login.
        Mendukung pencarian nama, filter status, dan pengurutan (sorting) berdasarkan nama, harga, stok, atau tanggal pembuatan.
      operationId: listVendorProducts
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Halaman yang diminta (default 1).
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Jumlah item per halaman (default 10, max 100).
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: search
          in: query
          description: Pencarian berdasarkan nama produk (partial match, case-insensitive).
          schema:
            type: string
        - name: status
          in: query
          description: Filter berdasarkan status produk. Kosongkan untuk menampilkan semua (draft & published).
          schema:
            type: string
            enum:
              - draft
              - published
        - name: sort_by
          in: query
          description: Field untuk pengurutan data (default created_at).
          schema:
            type: string
            enum:
              - name
              - price
              - stock
              - created_at
            default: created_at
        - name: sort_order
          in: query
          description: Arah pengurutan (default desc).
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        "200":
          description: Daftar produk berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/VendorProductListItem"
                      meta:
                        $ref: "#/components/schemas/PaginationMeta"
              example:
                success: true
                message: vendor products retrieved successfully
                data:
                  - id: "4354c494-d5a1-4f00-b120-abcdef123456"
                    name: "Sajadah Premium"
                    category_name: "Oleh-Oleh"
                    price: 150000
                    stock: 100
                    status: "published"
                    created_at: "2026-03-01T10:30:00Z"
                  - id: "5a2b3c4d-e5f6-7890-abcd-ef1234567890"
                    name: "Tasbih Kayu Cendana"
                    category_name: "Aksesoris"
                    price: 50000
                    stock: 50
                    status: "draft"
                    created_at: "2026-03-02T11:15:00Z"
                errors: null
                meta:
                  page: 1
                  limit: 10
                  total_items: 2
                  total_pages: 1
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

    post:
      tags:
        - Vendor Products
      summary: Create Product
      description: |
        Membuat produk baru untuk vendor yang sedang login.
        Vendor harus berstatus `active` (sudah di-approve admin) untuk dapat membuat produk.

        **Alur upload gambar (two-step):**
        1. Kirim data produk beserta informasi gambar (nama file, content type, primary flag).
        2. Response akan berisi `upload_urls` — presigned URL untuk upload setiap gambar langsung ke S3.
        3. Client melakukan `PUT` request ke setiap `upload_url` dengan file content.
        4. Setelah semua gambar diupload, panggil endpoint `/api/v1/vendors/products/{id}/images/confirm`.

        **Aturan:**
        - Memerlukan autentikasi JWT dengan role `umkm`.
        - Vendor harus berstatus `active`.
        - Vendor harus sudah memiliki default warehouse address dengan `district_id` terisi.
        - Harga dan stok di level top-level akan disimpan sebagai **default variant**.
        - Varian tambahan bisa ditambahkan melalui array `variants`.
        - SKU di-generate otomatis oleh sistem.
        - Slug di-generate otomatis dari nama produk.
        - Jika `is_active: true`, produk langsung berstatus `published`. Jika `false`, berstatus `draft`.
        - Maksimal 10 gambar per produk.
        - Tepat 1 gambar harus ditandai sebagai `is_primary: true` (jika gambar disertakan).
        - Presigned URL berlaku selama **30 menit**.
        - MIME gambar yang diizinkan: `image/jpeg`, `image/png`, `image/webp`.
      operationId: createProduct
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductRequest"
            example:
              name: Sajadah Premium Madinah
              category_id: c1d2e3f4-a5b6-7890-cdef-1234567890ab
              description: Sajadah premium kualitas terbaik langsung dari Madinah. Bahan lembut dan nyaman digunakan.
              price: 150000
              stock: 50
              weight_gram: 500
              is_active: false
              variants:
                - variant_name: Merah
                  price: 150000
                  stock: 30
                  weight_gram: 500
                  is_active: true
                - variant_name: Biru
                  price: 160000
                  stock: 20
                  weight_gram: 500
                  is_active: true
              images:
                - file_name: sajadah-depan.jpg
                  content_type: image/jpeg
                  is_primary: true
                - file_name: sajadah-belakang.jpg
                  content_type: image/jpeg
                  is_primary: false
      responses:
        "201":
          description: Produk berhasil dibuat. Response berisi data produk, varian, dan presigned upload URLs untuk gambar.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreateProductEnvelope"
              example:
                success: true
                message: product created successfully
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  category_id: c1d2e3f4-a5b6-7890-cdef-1234567890ab
                  name: Sajadah Premium Madinah
                  slug: sajadah-premium-madinah
                  description: Sajadah premium kualitas terbaik langsung dari Madinah. Bahan lembut dan nyaman digunakan.
                  status: draft
                  halal_ai_status: pending
                  variants:
                    - id: aa11bb22-cc33-dd44-ee55-ff6677889900
                      sku: TOKOO-SAJAD000-00
                      variant_name: Default
                      price: 150000
                      original_price: 150000
                      promo_price: null
                      has_promo: false
                      currency: IDR
                      stock_on_hand: 50
                      weight_gram: 500
                      is_default: true
                      is_active: true
                    - id: bb22cc33-dd44-ee55-ff66-778899001122
                      sku: TOKOO-SAJAD000-01
                      variant_name: Merah
                      price: 150000
                      original_price: 150000
                      promo_price: null
                      has_promo: false
                      currency: IDR
                      stock_on_hand: 30
                      weight_gram: 500
                      is_default: false
                      is_active: true
                    - id: cc33dd44-ee55-ff66-7788-990011223344
                      sku: TOKOO-SAJAD000-02
                      variant_name: Biru
                      price: 160000
                      original_price: 160000
                      promo_price: null
                      has_promo: false
                      currency: IDR
                      stock_on_hand: 20
                      weight_gram: 500
                      is_default: false
                      is_active: true
                  upload_urls:
                    - image_id: dd44ee55-ff66-7788-9900-112233445566
                      upload_url: https://s3.ap-southeast-1.amazonaws.com/bucket/products/f1a2b3c4.../images/dd44ee55.../sajadah-depan.jpg?X-Amz-...
                      object_key: products/f1a2b3c4-d5e6-7890-abcd-ef1234567890/images/dd44ee55-ff66-7788-9900-112233445566/sajadah-depan.jpg
                      sort_order: 0
                      is_primary: true
                    - image_id: ee55ff66-7788-9900-1122-334455667788
                      upload_url: https://s3.ap-southeast-1.amazonaws.com/bucket/products/f1a2b3c4.../images/ee55ff66.../sajadah-belakang.jpg?X-Amz-...
                      object_key: products/f1a2b3c4-d5e6-7890-abcd-ef1234567890/images/ee55ff66-7788-9900-1122-334455667788/sajadah-belakang.jpg
                      sort_order: 1
                      is_primary: false
                  created_at: "2026-02-13T10:30:00Z"
                errors: null
                meta: null
        "400":
          description: Request tidak valid (validasi gagal, kategori tidak ditemukan, atau aturan gambar dilanggar).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                validationFailed:
                  summary: Validasi payload gagal
                  value:
                    success: false
                    message: validation failed
                    data: null
                    errors: "Key: 'CreateProductRequest.Name' Error:Field validation for 'Name' failed on the 'required' tag"
                    meta: null
                categoryNotFound:
                  summary: Kategori tidak ditemukan atau tidak aktif
                  value:
                    success: false
                    message: category not found
                    data: null
                    errors: null
                    meta: null
                tooManyImages:
                  summary: Jumlah gambar melebihi batas maksimal 10
                  value:
                    success: false
                    message: maximum 10 images per product
                    data: null
                    errors: null
                    meta: null
                duplicatePrimary:
                  summary: Lebih dari satu gambar ditandai sebagai primary
                  value:
                    success: false
                    message: only one image can be marked as primary
                    data: null
                    errors: null
                    meta: null
                noPrimary:
                  summary: Tidak ada gambar yang ditandai sebagai primary
                  value:
                    success: false
                    message: at least one image must be marked as primary
                    data: null
                    errors: null
                    meta: null
                publishedNoShipping:
                  summary: Produk published harus memiliki minimal 1 shipping service
                  value:
                    success: false
                    message: published product must have at least one shipping service
                    data: null
                    errors: null
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: Vendor belum aktif atau user tidak memiliki role umkm.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                vendorNotActive:
                  summary: Vendor belum di-approve atau berstatus selain active
                  value:
                    success: false
                    message: vendor is not active
                    data: null
                    errors: null
                    meta: null
                insufficientPermissions:
                  summary: User tidak memiliki role umkm
                  value:
                    success: false
                    message: insufficient permissions
                    data: null
                    errors: null
                    meta: null
        "422":
          description: Vendor belum melengkapi prasyarat operasional untuk create product.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor must set a default address before adding products
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
  /api/v1/vendors/products/{id}:
    get:
      tags:
        - Vendor Products
      summary: Get Detail Produk (Vendor)
      description: |
        Mengambil detail lengkap satu produk milik vendor yang sedang login.
        Response mencakup semua field yang dibutuhkan untuk pre-populate form Edit Product,
        termasuk varian beserta ID-nya dan gambar beserta ID-nya (untuk dipakai di `keep_image_ids`).

        **Aturan:**
        - Memerlukan autentikasi JWT dengan role `umkm`.
        - Produk harus milik vendor yang sedang login.
        - `price`, `stock`, dan `weight_gram` di level atas diambil dari **default variant**.
        - `is_active` merupakan turunan dari `status == "published"`.
      operationId: getVendorProductByID
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID produk (UUID).
          schema:
            type: string
            format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        "200":
          description: Detail produk berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorProductDetailEnvelope"
              example:
                success: true
                message: product detail retrieved successfully
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  category_id: c1d2e3f4-a5b6-7890-cdef-1234567890ab
                  name: Sajadah Premium Madinah
                  slug: sajadah-premium-madinah
                  description: Sajadah premium kualitas terbaik langsung dari Madinah. Bahan lembut dan nyaman digunakan.
                  status: published
                  halal_ai_status: pending
                  is_active: true
                  price: 150000
                  stock: 50
                  weight_gram: 500
                  variants:
                    - id: aa11bb22-cc33-dd44-ee55-ff6677889900
                      sku: TOKOO-SAJAD000-00
                      variant_name: Default
                      price: 150000
                      original_price: 150000
                      promo_price: null
                      has_promo: false
                      currency: IDR
                      stock_on_hand: 50
                      weight_gram: 500
                      is_default: true
                      is_active: true
                    - id: bb22cc33-dd44-ee55-ff66-778899001122
                      sku: TOKOO-SAJAD000-01
                      variant_name: Merah
                      price: 150000
                      original_price: 150000
                      promo_price: null
                      has_promo: false
                      currency: IDR
                      stock_on_hand: 30
                      weight_gram: 500
                      is_default: false
                      is_active: true
                  images:
                    - id: dd44ee55-ff66-7788-9900-112233445566
                      url: products/f1a2b3c4-d5e6-7890-abcd-ef1234567890/images/dd44ee55-ff66-7788-9900-112233445566/sajadah-depan.jpg
                      is_primary: true
                      sort_order: 0
                    - id: ee55ff66-7788-9900-1122-334455667788
                      url: products/f1a2b3c4-d5e6-7890-abcd-ef1234567890/images/ee55ff66-7788-9900-1122-334455667788/sajadah-belakang.jpg
                      is_primary: false
                      sort_order: 1
                  created_at: "2026-03-01T10:30:00Z"
                  updated_at: "2026-03-30T08:00:00Z"
                errors: null
                meta: null
        "400":
          description: ID produk bukan UUID yang valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid product ID
                data: null
                errors: id must be a valid UUID
                meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: Produk bukan milik vendor ini atau user tidak memiliki role umkm.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                productNotOwned:
                  summary: Produk bukan milik vendor yang login
                  value:
                    success: false
                    message: product does not belong to this vendor
                    data: null
                    errors: null
                    meta: null
                insufficientPermissions:
                  summary: User tidak memiliki role umkm
                  value:
                    success: false
                    message: insufficient permissions
                    data: null
                    errors: null
                    meta: null
        "404":
          description: Produk tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: product not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
    put:
      tags:
        - Vendor Products
      summary: Edit Product
      description: |
        Memperbarui data produk milik vendor yang sedang login (full-replace PUT semantics).

        **Alur gambar:**
        - `keep_image_ids` — array UUID gambar lama yang ingin **dipertahankan**. Gambar yang tidak disertakan akan **dihapus**.
        - `new_images` — gambar baru yang akan ditambahkan. Response berisi `new_upload_urls` (presigned URL) untuk upload ke S3.
        - Setelah upload, panggil `/api/v1/vendors/products/{id}/images/confirm` untuk mengkonfirmasi gambar baru.

        **Aturan:**
        - Memerlukan autentikasi JWT dengan role `umkm`.
        - Vendor harus berstatus `active`.
        - Produk harus milik vendor yang sedang login.
        - Default variant selalu diperbarui dari field `price`, `stock`, dan `weight_gram` di level atas (tidak melalui array `variants`).
        - Pada array `variants`: varian dengan `id` = update varian yang ada; varian tanpa `id` = buat varian baru. Varian lama yang tidak disertakan akan **dinonaktifkan** (soft-delete — tidak dihapus permanen).
        - Total gambar setelah update (dipertahankan + baru) tidak boleh melebihi **10**.
        - Slug hanya di-regenerate jika nama produk berubah.
        - `halal_ai_status` tidak di-reset saat update.
        - Presigned URL berlaku selama **30 menit**.
        - MIME gambar yang diizinkan: `image/jpeg`, `image/png`, `image/webp`.
      operationId: updateProduct
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID produk (UUID).
          schema:
            type: string
            format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
            example:
              name: Sajadah Premium Madinah — Edisi Revisi
              category_id: c1d2e3f4-a5b6-7890-cdef-1234567890ab
              description: Sajadah premium kualitas terbaik langsung dari Madinah. Kini hadir dengan kemasan baru.
              price: 165000
              stock: 45
              weight_gram: 520
              is_active: true
              variants:
                - id: bb22cc33-dd44-ee55-ff66-778899001122
                  variant_name: Merah
                  price: 165000
                  stock: 25
                  weight_gram: 520
                  is_active: true
                - variant_name: Hijau
                  price: 175000
                  stock: 10
                  weight_gram: 520
                  is_active: true
              keep_image_ids:
                - dd44ee55-ff66-7788-9900-112233445566
              new_images:
                - file_name: sajadah-kemasan-baru.jpg
                  content_type: image/jpeg
                  is_primary: false
      responses:
        "200":
          description: Produk berhasil diperbarui. Response berisi data produk terbaru beserta presigned URL untuk gambar baru (jika ada).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUpdateProductEnvelope"
              example:
                success: true
                message: product updated successfully
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  category_id: c1d2e3f4-a5b6-7890-cdef-1234567890ab
                  name: Sajadah Premium Madinah — Edisi Revisi
                  slug: sajadah-premium-madinah
                  description: Sajadah premium kualitas terbaik langsung dari Madinah. Kini hadir dengan kemasan baru.
                  status: published
                  halal_ai_status: pending
                  variants:
                    - id: aa11bb22-cc33-dd44-ee55-ff6677889900
                      sku: TOKOO-SAJAD000-00
                      variant_name: Default
                      price: 165000
                      original_price: 165000
                      promo_price: null
                      has_promo: false
                      currency: IDR
                      stock_on_hand: 45
                      weight_gram: 520
                      is_default: true
                      is_active: true
                    - id: bb22cc33-dd44-ee55-ff66-778899001122
                      sku: TOKOO-SAJAD000-01
                      variant_name: Merah
                      price: 165000
                      original_price: 165000
                      promo_price: null
                      has_promo: false
                      currency: IDR
                      stock_on_hand: 25
                      weight_gram: 520
                      is_default: false
                      is_active: true
                    - id: ff99ee88-dd77-cc66-bb55-aa4433221100
                      sku: TOKOO-SAJAD002-03
                      variant_name: Hijau
                      price: 175000
                      original_price: 175000
                      promo_price: null
                      has_promo: false
                      currency: IDR
                      stock_on_hand: 10
                      weight_gram: 520
                      is_default: false
                      is_active: true
                  new_upload_urls:
                    - image_id: ab12cd34-ef56-7890-abcd-ef1234567890
                      upload_url: https://s3.ap-southeast-1.amazonaws.com/bucket/products/f1a2b3c4.../images/ab12cd34.../sajadah-kemasan-baru.jpg?X-Amz-...
                      object_key: products/f1a2b3c4-d5e6-7890-abcd-ef1234567890/images/ab12cd34-ef56-7890-abcd-ef1234567890/sajadah-kemasan-baru.jpg
                      sort_order: 1
                      is_primary: false
                  updated_at: "2026-03-30T08:00:00Z"
                errors: null
                meta: null
        "400":
          description: Request tidak valid (validasi gagal, kategori tidak ditemukan, varian tidak ditemukan, atau aturan gambar dilanggar).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                validationFailed:
                  summary: Validasi payload gagal
                  value:
                    success: false
                    message: validation failed
                    data: null
                    errors: "Key: 'UpdateProductRequest.Name' Error:Field validation for 'Name' failed on the 'required' tag"
                    meta: null
                categoryNotFound:
                  summary: Kategori tidak ditemukan atau tidak aktif
                  value:
                    success: false
                    message: category not found
                    data: null
                    errors: null
                    meta: null
                tooManyImages:
                  summary: Total gambar (dipertahankan + baru) melebihi batas maksimal 10
                  value:
                    success: false
                    message: maximum 10 images per product
                    data: null
                    errors: null
                    meta: null
                duplicatePrimary:
                  summary: Lebih dari satu gambar baru ditandai sebagai primary
                  value:
                    success: false
                    message: only one image can be marked as primary
                    data: null
                    errors: null
                    meta: null
                noPrimary:
                  summary: Tidak ada gambar primary setelah update
                  value:
                    success: false
                    message: at least one image must be marked as primary
                    data: null
                    errors: null
                    meta: null
                imageNotFound:
                  summary: UUID di keep_image_ids bukan milik produk ini
                  value:
                    success: false
                    message: image not found for this product
                    data: null
                    errors: null
                    meta: null
                invalidProductId:
                  summary: ID produk bukan UUID yang valid
                  value:
                    success: false
                    message: invalid product ID
                    data: null
                    errors: id must be a valid UUID
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: Vendor belum aktif, produk bukan milik vendor ini, atau user tidak memiliki role umkm.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                vendorNotActive:
                  summary: Vendor belum di-approve atau berstatus selain active
                  value:
                    success: false
                    message: vendor is not active
                    data: null
                    errors: null
                    meta: null
                productNotOwned:
                  summary: Produk bukan milik vendor yang login
                  value:
                    success: false
                    message: product does not belong to this vendor
                    data: null
                    errors: null
                    meta: null
                insufficientPermissions:
                  summary: User tidak memiliki role umkm
                  value:
                    success: false
                    message: insufficient permissions
                    data: null
                    errors: null
                    meta: null
        "404":
          description: Produk atau varian tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                productNotFound:
                  summary: Produk tidak ditemukan
                  value:
                    success: false
                    message: product not found
                    data: null
                    errors: null
                    meta: null
                variantNotFound:
                  summary: ID varian di array variants tidak ditemukan untuk produk ini
                  value:
                    success: false
                    message: product variant not found
                    data: null
                    errors: null
                    meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
    delete:
      tags:
        - Vendor Products
      summary: Hapus Produk
      description: |
        Menghapus produk milik vendor secara permanen beserta seluruh varian dan gambar yang terkait.
        Operasi ini bersifat **hard delete** — tidak dapat dibatalkan.

        **Aturan:**
        - Memerlukan autentikasi JWT dengan role `umkm`.
        - Produk harus milik vendor yang sedang login.
      operationId: deleteVendorProduct
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID produk (UUID).
          schema:
            type: string
            format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        "200":
          description: Produk berhasil dihapus.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              example:
                success: true
                message: product deleted successfully
                data: null
                errors: null
                meta: null
        "400":
          description: ID produk bukan UUID yang valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid product ID
                data: null
                errors: id must be a valid UUID
                meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: Produk bukan milik vendor ini atau user tidak memiliki role umkm.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                productNotOwned:
                  summary: Produk bukan milik vendor yang login
                  value:
                    success: false
                    message: product does not belong to this vendor
                    data: null
                    errors: null
                    meta: null
                insufficientPermissions:
                  summary: User tidak memiliki role umkm
                  value:
                    success: false
                    message: insufficient permissions
                    data: null
                    errors: null
                    meta: null
        "404":
          description: Produk tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: product not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
  /api/v1/vendors/products/{id}/images/confirm:
    post:
      tags:
        - Vendor Products
      summary: Konfirmasi Gambar Produk
      description: |
        Mengkonfirmasi bahwa gambar-gambar produk telah berhasil diupload ke S3 storage.
        Endpoint ini memverifikasi bahwa file benar-benar ada di S3 via HeadObject,
        memeriksa MIME type, lalu memperbarui metadata gambar di database.

        **Aturan:**
        - Memerlukan autentikasi JWT dengan role `umkm`.
        - Produk harus milik vendor yang sedang login.
        - Setiap gambar divalidasi: file harus ada di S3, MIME type harus `image/jpeg`, `image/png`, atau `image/webp`.
        - `image_id` dan `object_key` didapat dari response saat membuat produk (`upload_urls[]`).
      operationId: confirmProductImages
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID produk (UUID).
          schema:
            type: string
            format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmProductImagesRequest"
            example:
              images:
                - image_id: dd44ee55-ff66-7788-9900-112233445566
                  object_key: products/f1a2b3c4-d5e6-7890-abcd-ef1234567890/images/dd44ee55-ff66-7788-9900-112233445566/sajadah-depan.jpg
                - image_id: ee55ff66-7788-9900-1122-334455667788
                  object_key: products/f1a2b3c4-d5e6-7890-abcd-ef1234567890/images/ee55ff66-7788-9900-1122-334455667788/sajadah-belakang.jpg
      responses:
        "200":
          description: Gambar berhasil dikonfirmasi.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessConfirmProductImagesEnvelope"
              example:
                success: true
                message: images confirmed successfully
                data:
                  product_id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  images_confirmed: 2
                errors: null
                meta: null
        "400":
          description: Request tidak valid (validasi gagal, gambar tidak ditemukan, file belum diupload, atau MIME type salah).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                validationFailed:
                  summary: Validasi payload gagal
                  value:
                    success: false
                    message: validation failed
                    data: null
                    errors: "Key: 'ConfirmProductImagesRequest.Images' Error:Field validation for 'Images' failed on the 'required' tag"
                    meta: null
                imageNotFound:
                  summary: Gambar tidak ditemukan untuk produk ini
                  value:
                    success: false
                    message: "image not found for this product: dd44ee55-ff66-7788-9900-112233445566"
                    data: null
                    errors: null
                    meta: null
                imageNotUploaded:
                  summary: File belum diupload ke S3
                  value:
                    success: false
                    message: "image not found in storage: products/f1a2b3c4.../images/dd44ee55.../sajadah-depan.jpg"
                    data: null
                    errors: null
                    meta: null
                invalidMimeType:
                  summary: MIME type gambar tidak diizinkan
                  value:
                    success: false
                    message: "invalid image content type: dd44ee55-ff66-7788-9900-112233445566 (text/plain)"
                    data: null
                    errors: null
                    meta: null
                invalidProductId:
                  summary: ID produk bukan UUID yang valid
                  value:
                    success: false
                    message: invalid product ID
                    data: null
                    errors: id must be a valid UUID
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: Produk bukan milik vendor ini atau user tidak memiliki role umkm.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                productNotOwned:
                  summary: Produk bukan milik vendor yang login
                  value:
                    success: false
                    message: product does not belong to this vendor
                    data: null
                    errors: null
                    meta: null
                insufficientPermissions:
                  summary: User tidak memiliki role umkm
                  value:
                    success: false
                    message: insufficient permissions
                    data: null
                    errors: null
                    meta: null
        "404":
          description: Produk tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: product not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
  /api/v1/vendors/vouchers:
    get:
      tags:
        - Vendor Vouchers
      summary: Daftar voucher vendor
      description: Mengambil daftar voucher diskon milik vendor yang sedang login.
      operationId: listVendorVouchers
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: search
          in: query
          description: Filter berdasarkan kode/nama voucher (case-insensitive).
          schema:
            type: string
        - name: is_active
          in: query
          description: Filter berdasarkan flag aktif voucher.
          schema:
            type: boolean
        - name: product_id
          in: query
          description: Filter voucher yang terkait dengan product tertentu.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Daftar voucher berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorVoucherListEnvelope"
        "400":
          description: Query parameter tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      tags:
        - Vendor Vouchers
      summary: Buat voucher vendor
      description: Membuat voucher diskon nominal yang berlaku untuk produk milik vendor.
      operationId: createVendorVoucher
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVendorVoucherRequest"
      responses:
        "201":
          description: Voucher berhasil dibuat.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorVoucherEnvelope"
        "400":
          description: Payload tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Kode voucher sudah dipakai di vendor ini.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/vouchers/summary:
    get:
      tags:
        - Vendor Vouchers
      summary: Ringkasan voucher vendor
      description: >
        Mengembalikan statistik ringkasan voucher milik vendor: jumlah promo aktif,
        promo akan datang, promo berakhir, dan total penggunaan.
      operationId: getVendorVoucherSummary
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Ringkasan voucher berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorVoucherSummaryEnvelope"
        "401":
          description: Token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /api/v1/vendors/vouchers/{id}:
    get:
      tags:
        - Vendor Vouchers
      summary: Detail voucher vendor
      operationId: getVendorVoucher
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Detail voucher berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorVoucherEnvelope"
        "400":
          description: ID voucher tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Voucher tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    patch:
      tags:
        - Vendor Vouchers
      summary: Update voucher vendor
      operationId: updateVendorVoucher
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVendorVoucherRequest"
      responses:
        "200":
          description: Voucher berhasil diperbarui.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorVoucherEnvelope"
        "400":
          description: Payload tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Voucher tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Kode voucher sudah dipakai di vendor ini.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      tags:
        - Vendor Vouchers
      summary: Hapus voucher vendor
      operationId: deleteVendorVoucher
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Voucher berhasil dihapus.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: ID voucher tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak valid atau expired.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Voucher tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/balance:
    get:
      tags:
        - Vendor Balance
      summary: Get Balance
      description: |
        Menampilkan saldo terkini vendor yang sedang login.

        **Response fields:**
        - `available_balance` — Saldo yang tersedia untuk ditarik.
        - `pending_balance` — Saldo yang sedang diproses (withdrawal in-progress).
        - `total_earned` — Total pendapatan sepanjang waktu.
        - `total_withdrawn` — Total yang sudah ditarik.

        Saldo vendor bertambah otomatis saat pembayaran order dikonfirmasi.
        Net = subtotal order (grand_total - platform_fee).
      operationId: getVendorBalance
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Saldo vendor berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorBalanceEnvelope"
              example:
                success: true
                message: vendor balance retrieved
                data:
                  available_balance: 500000
                  pending_balance: 100000
                  total_earned: 1500000
                  total_withdrawn: 900000
                errors: null
                meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "404":
          description: Saldo vendor belum diinisialisasi.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor balance not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
  /api/v1/vendors/payout-channels:
    get:
      tags:
        - Vendor Balance
      summary: Get Payout Channels
      description: |
        Mengambil daftar channel payout dari Xendit untuk kebutuhan UI withdrawal vendor.

        **Aturan filter backend:**
        - `currency=IDR`
        - `channel_category=BANK`
        - hanya channel aktif yang dikembalikan

        Endpoint ini khusus vendor login (`umkm`).
      operationId: listVendorPayoutChannels
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Daftar payout channel berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorPayoutChannelsEnvelope"
              example:
                success: true
                message: payout channels retrieved successfully
                data:
                  channels:
                    - channel_code: ID_BCA
                      channel_name: Bank Central Asia
                      currency: IDR
                      channel_category: BANK
                    - channel_code: ID_BRI
                      channel_name: Bank Rakyat Indonesia
                      currency: IDR
                      channel_category: BANK
                errors: null
                meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User bukan role vendor (`umkm`) atau vendor tidak aktif.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor is not active
                data: null
                errors: null
                meta: null
        "502":
          description: Gagal mengambil daftar payout channel dari Xendit.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: payout channels unavailable
                data: null
                errors: null
                meta: null
  /api/v1/vendors/bank-accounts:
    post:
      tags:
        - Vendor Bank Accounts
      summary: Tambah Rekening Bank Vendor
      description: |
        Menambahkan rekening bank baru milik vendor yang sedang login.

        **Aturan:**
        - Wajib autentikasi JWT role `umkm`.
        - Jika ini rekening pertama, sistem otomatis menandainya sebagai default.
        - Jika `is_default: true`, default sebelumnya akan di-unset.
      operationId: createVendorBankAccount
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVendorBankAccountRequest"
            example:
              channel_code: ID_BCA
              bank_name: Bank Central Asia
              account_number: "1234567890"
              account_holder_name: Ahmad Subarkah
              is_default: true
      responses:
        "201":
          description: Rekening bank vendor berhasil ditambahkan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCreateVendorBankAccountEnvelope"
              example:
                success: true
                message: bank account created
                data:
                  id: 1e2d3c4b-5a6f-7890-abcd-ef1234567890
                  channel_code: ID_BCA
                  bank_name: Bank Central Asia
                  account_holder_name: Ahmad Subarkah
                  account_last4: "7890"
                  is_default: true
                errors: null
                meta: null
        "400":
          description: Request tidak valid (payload/validasi gagal).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                validationFailed:
                  summary: Validasi payload gagal
                  value:
                    success: false
                    message: validation failed
                    data: null
                    errors: "Key: 'CreateVendorBankAccountRequest.AccountNumber' Error:Field validation for 'AccountNumber' failed on the 'required' tag"
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: User bukan role vendor (`umkm`).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    get:
      tags:
        - Vendor Bank Accounts
      summary: List Rekening Bank Vendor
      description: |
        Mengambil daftar rekening bank milik vendor yang sedang login.
        Nomor rekening ditampilkan dalam bentuk masked (`account_last4`).
      operationId: listVendorBankAccounts
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Daftar rekening bank vendor berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessListVendorBankAccountEnvelope"
              example:
                success: true
                message: bank accounts loaded
                data:
                  - id: 1e2d3c4b-5a6f-7890-abcd-ef1234567890
                    channel_code: ID_BCA
                    bank_name: Bank Central Asia
                    account_holder_name: Ahmad Subarkah
                    account_last4: "7890"
                    is_default: true
                errors: null
                meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: User bukan role vendor (`umkm`).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/bank-accounts/{id}:
    delete:
      tags:
        - Vendor Bank Accounts
      summary: Hapus Rekening Bank Vendor
      description: |
        Menghapus rekening bank milik vendor.
        Hanya rekening milik vendor login yang bisa dihapus.
      operationId: deleteVendorBankAccount
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/VendorBankAccountIDParam"
      responses:
        "200":
          description: Rekening bank vendor berhasil dihapus.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              example:
                success: true
                message: bank account deleted
                data: null
                errors: null
                meta: null
        "400":
          description: ID rekening bank tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Rekening bukan milik vendor login.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: bank account does not belong to this vendor
                data: null
                errors: null
                meta: null
        "404":
          description: Rekening bank vendor tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor bank account not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/vendors/bank-accounts/{id}/default:
    patch:
      tags:
        - Vendor Bank Accounts
      summary: Set Rekening Utama Vendor
      description: |
        Menandai rekening bank vendor sebagai rekening utama (default).
        Rekening default sebelumnya akan di-unset otomatis.
      operationId: setDefaultVendorBankAccount
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/VendorBankAccountIDParam"
      responses:
        "200":
          description: Rekening bank utama vendor berhasil diperbarui.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              example:
                success: true
                message: default bank account updated
                data: null
                errors: null
                meta: null
        "400":
          description: ID rekening bank tidak valid.
          headers:
            X-Request-ID:
[...]
