openapi: 3.0.3
info:
  title: Admin API
  version: 1.0.0
  description: Dokumentasi OpenAPI 3 untuk endpoint admin (autentikasi admin, manajemen user, dan review vendor).
servers:
  - url: https://haji-umroh-store-api.jauhar.id
    description: Local development server
tags:
  - name: Admin Auth
    description: Operasi autentikasi untuk admin.
  - name: Admin Users
    description: Operasi manajemen user untuk role admin.
  - name: Admin Dashboard
    description: Ringkasan metrik dan transaksi terbaru untuk dashboard admin.
  - name: Admin Reports
    description: Laporan transaksi admin beserta ringkasan KPI dan export CSV.
  - name: Admin Vendors
    description: Operasi review dan manajemen vendor untuk role admin.
  - name: Admin Payments
    description: Operasi listing dan monitoring pembayaran untuk role admin.
  - name: Admin Settings - Banners
    description: Manajemen banner halaman utama (upload presign, konfirmasi, CRUD).
  - name: Admin Settings - Categories
    description: Manajemen master data kategori produk.
  - name: Admin Settings - Return Reasons
    description: Manajemen master data alasan pengembalian produk.
  - name: Admin Settings - Contacts
    description: Manajemen data kontak admin yang ditampilkan ke publik.
  - name: Admin Settings - FAQ
    description: Manajemen FAQ (Pusat Bantuan) yang ditampilkan ke customer.
  - name: Admin Chat
    description: Operasi manajemen percakapan chat untuk role admin.
security:
  - BearerAuth: []
paths:
  /api/v1/admin/login:
    post:
      tags:
        - Admin Auth
      summary: Login
      description: Endpoint login untuk admin. Tidak membutuhkan token.
      operationId: adminLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminLoginRequest"
            example:
              email: admin@example.com
              password: supersecret123
      responses:
        "200":
          description: Login berhasil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAdminLoginEnvelope"
              example:
                success: true
                message: login successful
                data:
                  token: <JWT_TOKEN>
                  id: 7d2e9f31-09af-4d49-adf3-47bb2b9e2010
                  image_url: https://cdn.example.com/admins/profile.jpg
                  email: admin@example.com
                  name: Admin Ops
                errors: null
                meta: null
        "400":
          description: Request tidak valid (payload/validasi gagal).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: validation failed
                data: null
                errors: "Key: 'AdminLoginRequest.Email' Error:Field validation for 'Email' failed on the 'email' tag"
                meta: null
        "401":
          description: Kredensial salah atau akun tidak aktif.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                invalidCredentials:
                  summary: Email atau password salah
                  value:
                    success: false
                    message: invalid email or password
                    data: null
                    errors: null
                    meta: null
                inactiveAccount:
                  summary: Akun belum aktif
                  value:
                    success: false
                    message: account is not active
                    data: null
                    errors: null
                    meta: null
        "403":
          description: User bukan admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: admin access required
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: null
                meta: null
  /api/v1/admin/me:
    get:
      tags:
        - Admin Auth
      summary: Get My Profile
      description: Mengembalikan profil admin berdasarkan JWT pada header Authorization.
      operationId: getAdminMe
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Profil admin berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAdminMeEnvelope"
              example:
                success: true
                message: admin profile retrieved successfully
                data:
                  id: 0e50f347-d4a7-4a21-be25-8bfbd61320a6
                  image_url: ""
                  email: admin@example.com
                  name: System Administrator
                errors: null
                meta: null
        "400":
          description: Data user ID dari token tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid user ID in token
                data: null
                errors: null
                meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: User admin tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: user not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: "failed to fetch user: database timeout"
                meta: null
  /api/v1/admin/dashboard:
    get:
      tags:
        - Admin Dashboard
      summary: Get Admin Dashboard
      description: Mengambil ringkasan metrik dashboard admin dan daftar transaksi terbaru pada bulan yang dipilih.
      operationId: getAdminDashboard
      security:
        - BearerAuth: []
      parameters:
        - name: month
          in: query
          required: false
          description: Bulan dashboard (1-12). Default bulan saat ini.
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 3
        - name: year
          in: query
          required: false
          description: Tahun dashboard. Default tahun saat ini.
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
            example: 2026
      responses:
        "200":
          description: Dashboard admin berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAdminDashboardEnvelope"
              example:
                success: true
                message: admin dashboard retrieved successfully
                data:
                  month: 3
                  year: 2026
                  summary:
                    ppiu_and_pihk_count: 128
                    dormitory_count: 56
                    store_count: 342
                    pending_payment_count: 17
                    needs_review_count: 24
                    order_count: 1245
                  transactions:
                    - date_time: 2026-03-01T20:15:00Z
                      invoice: INV-20260301-007
                      customer_name: Hendra Wijaya
                      product_name: Paket Umroh VIP
                      price: 35000000
                      status: paid
                errors: null
                meta: null
        "400":
          description: Parameter query tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: month must be between 1 and 12
                data: null
                errors: null
                meta: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/admin/reports:
    get:
      tags:
        - Admin Reports
      summary: Get Admin Report
      description: Mengambil ringkasan laporan admin dan daftar agregasi transaksi per bulan dalam tahun yang dipilih.
      operationId: getAdminReport
      security:
        - BearerAuth: []
      parameters:
        - name: year
          in: query
          required: false
          description: Tahun laporan. Default tahun saat ini.
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
            example: 2026
        - name: page
          in: query
          required: false
          description: Nomor halaman data laporan. Default `1`.
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: Jumlah data per halaman. Default `10`, maksimum `100`.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: search
          in: query
          required: false
          description: Pencarian berdasarkan label periode, misalnya `Jan 2026`.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Kolom pengurutan data laporan.
          schema:
            type: string
            enum: [period, total_transaction, dp, settlement, refund]
            default: period
        - name: sort_order
          in: query
          required: false
          description: Arah pengurutan data laporan.
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: Laporan admin berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessAdminReportEnvelope"
              example:
                success: true
                message: admin report retrieved successfully
                data:
                  year: 2026
                  summary:
                    success_transaction_rate: 82
                    total_transactions: 8
                    customer_count: 400
                    platform_commission: 430000000
                  items:
                    - period: Jan 2026
                      total_transaction: 4000000
                      dp: 3000000
                      settlement: 4000000
                      refund: 50000
                errors: null
                meta:
                  page: 1
                  limit: 10
                  total_items: 12
                  total_pages: 2
        "400":
          description: Parameter query tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: year must be between 2000 and 2100
                data: null
                errors: null
                meta: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/admin/reports/export:
    get:
      tags:
        - Admin Reports
      summary: Export Admin Report
      description: "Mengunduh laporan admin dalam format CSV berdasarkan filter yang saat ini didukung backend: `year`, `from_date`, `to_date`, `search`, `sort_by`, dan `sort_order`."
      operationId: exportAdminReport
      security:
        - BearerAuth: []
      parameters:
        - name: year
          in: query
          required: false
          description: Tahun laporan. Default tahun saat ini.
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
            example: 2026
        - name: from_date
          in: query
          required: false
          description: Tanggal awal filter export dengan format `YYYY-MM-DD`.
          schema:
            type: string
            format: date
            example: 2026-01-01
        - name: to_date
          in: query
          required: false
          description: Tanggal akhir filter export dengan format `YYYY-MM-DD`.
          schema:
            type: string
            format: date
            example: 2026-12-31
        - name: search
          in: query
          required: false
          description: Pencarian berdasarkan label periode, misalnya `Jan 2026`.
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Kolom pengurutan data export.
          schema:
            type: string
            enum: [period, total_transaction, dp, settlement, refund]
            default: period
        - name: sort_order
          in: query
          required: false
          description: Arah pengurutan data export.
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: File CSV laporan admin berhasil dibuat.
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="admin-report-2026.csv"
          content:
            text/csv:
              schema:
                type: string
                format: binary
        "400":
          description: Parameter query tidak valid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/admin/users:
    post:
      tags:
        - Admin Users
      summary: Create User
      description: |
        Endpoint untuk membuat user baru oleh admin.

        URL: `POST /api/v1/admin/users`
        Header: `Authorization: Bearer <admin_jwt>`
        Content-Type: `application/json`

        Field wajib:
        - `email`
        - `full_name`
        - `password`
        - `role`

        Field opsional:
        - `phone`
        - `birth_date` dengan format `YYYY-MM-DD`
      operationId: createAdminUser
      security:
        - BearerAuth: []
      requestBody:
        required: true
        description: Payload JSON untuk membuat user baru.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
            example:
              email: admin.ops@example.com
              full_name: Admin Operations
              password: supersecret123
              phone: "+6281234567890"
              birth_date: "1990-05-12"
              role: admin
      responses:
        "201":
          description: User berhasil dibuat.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserEnvelope"
              example:
                success: true
                message: user created successfully
                data:
                  id: 7d2e9f31-09af-4d49-adf3-47bb2b9e2010
                  email: admin.ops@example.com
                  full_name: Admin Operations
                  birth_date: "1990-05-12T00:00:00Z"
                  phone: "+6281234567890"
                  status: active
                  email_verified_at: "2026-02-10T10:20:30Z"
                  role: admin
                  created_at: "2026-02-10T10:20:30Z"
                  updated_at: "2026-02-10T10:20:30Z"
                errors: null
                meta: null
        "400":
          description: Request tidak valid (validasi payload gagal atau format birth_date tidak valid).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                validationFailed:
                  summary: Validasi payload gagal
                  value:
                    success: false
                    message: validation failed
                    data: null
                    errors:
                      fields:
                        email:
                          - must be a valid email address
                        full_name:
                          - is required
                        password:
                          - must be at least 8 characters
                        role:
                          - "must be one of: admin, umkm, customer, cs, finance"
                      request: []
                    meta: null
                invalidBirthDate:
                  summary: Format birth_date tidak valid
                  value:
                    success: false
                    message: validation failed
                    data: null
                    errors:
                      fields:
                        birth_date:
                          - must use YYYY-MM-DD format
                      request: []
                    meta: null
                malformedJson:
                  summary: Body JSON tidak valid
                  value:
                    success: false
                    message: validation failed
                    data: null
                    errors:
                      fields: {}
                      request:
                        - request body must be valid JSON
                    meta: null
        "409":
          description: Terjadi konflik data unik pada user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                emailExists:
                  summary: Email sudah terdaftar
                  value:
                    success: false
                    message: email already exists
                    data: null
                    errors:
                      fields:
                        email:
                          - email is already registered
                      request: []
                    meta: null
                phoneExists:
                  summary: Nomor telepon sudah terdaftar
                  value:
                    success: false
                    message: phone number already registered
                    data: null
                    errors:
                      fields:
                        phone:
                          - phone number is already registered
                      request: []
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                invalidToken:
                  summary: Token invalid atau expired
                  value:
                    success: false
                    message: invalid or expired token
                    data: null
                    errors: null
                    meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                insufficientPermissions:
                  summary: Akses role tidak cukup
                  value:
                    success: false
                    message: insufficient permissions
                    data: null
                    errors: null
                    meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                internalServerError:
                  summary: Kesalahan server
                  value:
                    success: false
                    message: internal server error
                    data: null
                    errors:
                      fields: {}
                      request: []
                    meta: null
    get:
      tags:
        - Admin Users
      summary: Get User List
      description: |
        Endpoint untuk mengambil daftar semua user dengan fitur pagination, filter, pencarian, dan sorting.

        URL: `GET /api/v1/admin/users`
        Header: `Authorization: Bearer <admin_jwt>`

        **Pagination:**
        - `page` — nomor halaman (default: 1)
        - `limit` — jumlah item per halaman (default: 10, maks: 100)

        **Filter:**
        - `role` — filter berdasarkan role user (`admin`, `umkm`, `customer`, `cs`, `finance`)
        - `status` — filter berdasarkan status user (`pending`, `active`, `blocked`)

        **Pencarian:**
        - `search` — pencarian berdasarkan `full_name` atau `email` (case-insensitive, partial match)

        **Sorting:**
        - `sort_by` — kolom untuk pengurutan: `full_name`, `email`, `role`, `status`, `created_at` (default: `created_at`)
        - `sort_order` — arah pengurutan: `asc` (ascending) atau `desc` (descending) (default: `desc`)
      operationId: listAdminUsers
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Nomor halaman (default 1).
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Jumlah item per halaman (default 10). Nilai <1 atau >100 akan dinormalisasi server menjadi 10.
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
        - name: role
          in: query
          description: Filter berdasarkan role user.
          required: false
          schema:
            type: string
            enum:
              - admin
              - umkm
              - customer
              - cs
              - finance
        - name: status
          in: query
          description: Filter berdasarkan status user.
          required: false
          schema:
            type: string
            enum:
              - pending
              - active
              - blocked
        - name: search
          in: query
          description: Pencarian berdasarkan nama lengkap atau email (case-insensitive, partial match).
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          description: |
            Kolom yang digunakan untuk pengurutan. Default: `created_at`.
          required: false
          schema:
            type: string
            enum:
              - full_name
              - email
              - role
              - status
              - created_at
            default: created_at
        - name: sort_order
          in: query
          description: |
            Arah pengurutan. Default: `desc` (descending/terbaru dulu).
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        "200":
          description: Daftar user berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserListEnvelope"
              example:
                success: true
                message: users retrieved successfully
                data:
                  - id: 7d2e9f31-09af-4d49-adf3-47bb2b9e2010
                    email: admin.ops@example.com
                    full_name: Admin Operations
                    birth_date: "1990-05-12T00:00:00Z"
                    phone: "+6281234567890"
                    status: active
                    email_verified_at: "2026-02-10T10:20:30Z"
                    role: admin
                    created_at: "2026-02-10T10:20:30Z"
                    updated_at: "2026-02-10T10:20:30Z"
                  - id: 39fbf2d2-c4de-43cf-b833-392cbf11f289
                    email: cs.team@example.com
                    full_name: CS Team
                    birth_date: null
                    phone: null
                    status: active
                    email_verified_at: "2026-02-01T09:00:00Z"
                    role: cs
                    created_at: "2026-02-01T09:00:00Z"
                    updated_at: "2026-02-09T09:00:00Z"
                errors: null
                meta:
                  page: 1
                  limit: 10
                  total_items: 2
                  total_pages: 1
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: missing authorization header
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: failed to list users
                data: null
                errors: "failed to list users: database timeout"
                meta: null
  /api/v1/admin/users/{id}:
    get:
      tags:
        - Admin Users
      summary: Get User By ID
      description: Mengambil detail user berdasarkan ID. ID harus dalam format UUID.
      operationId: getAdminUserById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID user dalam format UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Detail user berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserEnvelope"
              example:
                success: true
                message: user retrieved successfully
                data:
                  id: 7d2e9f31-09af-4d49-adf3-47bb2b9e2010
                  email: admin.ops@example.com
                  full_name: Admin Operations
                  birth_date: "1990-05-12T00:00:00Z"
                  phone: "+6281234567890"
                  status: active
                  email_verified_at: "2026-02-10T10:20:30Z"
                  role: admin
                  created_at: "2026-02-10T10:20:30Z"
                  updated_at: "2026-02-10T10:20:30Z"
                errors: null
                meta: null
        "400":
          description: ID user bukan UUID yang valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid user ID
                data: null
                errors: id must be a valid UUID
                meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: User tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                userNotFound:
                  summary: User tidak ditemukan
                  value:
                    success: false
                    message: user not found
                    data: null
                    errors: null
                    meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: "failed to fetch user: database timeout"
                meta: null
    put:
      tags:
        - Admin Users
      summary: Update User By ID
      operationId: updateAdminUserById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID user dalam format UUID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
            example:
              full_name: Admin Ops Updated
              phone: "+628111111111"
              status: active
              role: finance
      responses:
        "200":
          description: User berhasil diperbarui.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessUserEnvelope"
              example:
                success: true
                message: user updated successfully
                data:
                  id: 7d2e9f31-09af-4d49-adf3-47bb2b9e2010
                  email: admin.ops@example.com
                  full_name: Admin Ops Updated
                  birth_date: "1990-05-12T00:00:00Z"
                  phone: "+628111111111"
                  status: active
                  email_verified_at: "2026-02-10T10:20:30Z"
                  role: finance
                  created_at: "2026-02-10T10:20:30Z"
                  updated_at: "2026-02-10T11:00:00Z"
                errors: null
                meta: null
        "400":
          description: Request tidak valid (ID UUID salah, validasi payload gagal, atau birth_date tidak valid).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                invalidUserID:
                  summary: Format UUID tidak valid
                  value:
                    success: false
                    message: invalid user ID
                    data: null
                    errors: id must be a valid UUID
                    meta: null
                validationFailed:
                  summary: Validasi payload gagal
                  value:
                    success: false
                    message: validation failed
                    data: null
                    errors: "Key: 'UpdateUserRequest.Status' Error:Field validation for 'Status' failed on the 'oneof' tag"
                    meta: null
                invalidBirthDate:
                  summary: Format birth_date tidak valid
                  value:
                    success: false
                    message: invalid birth_date format, expected YYYY-MM-DD
                    data: null
                    errors: null
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: User tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: user not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: "failed to update user: database timeout"
                meta: null
    delete:
      tags:
        - Admin Users
      summary: Delete User By ID
      operationId: deleteAdminUserById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID user dalam format UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: User berhasil dihapus.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessNoDataEnvelope"
              example:
                success: true
                message: user deleted successfully
                data: null
                errors: null
                meta: null
        "400":
          description: Request tidak valid (ID UUID salah atau mencoba menghapus akun sendiri).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                invalidUserID:
                  summary: Format UUID tidak valid
                  value:
                    success: false
                    message: invalid user ID
                    data: null
                    errors: id must be a valid UUID
                    meta: null
                cannotDeleteSelf:
                  summary: Tidak boleh hapus akun sendiri
                  value:
                    success: false
                    message: cannot delete your own account
                    data: null
                    errors: null
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: User tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: user not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: internal server error
                data: null
                errors: "failed to delete user: database timeout"
                meta: null
  /api/v1/admin/vendors:
    get:
      tags:
        - Admin Vendors
      summary: Get Vendor List
      description: |
        Menampilkan daftar vendor yang terdaftar.

        Gunakan parameter `status=submitted` untuk melihat vendor yang menunggu persetujuan admin.

        Catatan nullable pada `data[]`:
        - `store_type` dapat bernilai `null` (umumnya saat vendor masih `draft`).
        - `store_name` dapat bernilai `null` (umumnya saat vendor masih `draft`).
        - `address` dapat bernilai `null` jika data alamat belum diisi.

        Jika `address` tidak `null`, field di dalamnya (`province`, `city`, `district`, `subdistrict`, `postal_code`) tetap bisa bernilai `null` sesuai kelengkapan data.
      operationId: listAdminVendors
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Nomor halaman (default 1).
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Jumlah item per halaman (default 10). Nilai <1 atau >100 akan dinormalisasi server menjadi 10.
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
        - name: status
          in: query
          description: Filter berdasarkan status vendor.
          required: false
          schema:
            type: string
            enum:
              - draft
              - submitted
              - active
              - rejected
              - blocked
        - name: vendor_type
          in: query
          description: Filter berdasarkan tipe vendor.
          required: false
          schema:
            type: string
            enum:
              - souvenir_store
              - ppiu
              - hajj_dormitory
        - name: search
          in: query
          description: Pencarian berdasarkan display_name atau legal_name (case-insensitive).
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Daftar vendor berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorListEnvelope"
              example:
                success: true
                message: vendors retrieved successfully
                data:
                  - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: submitted
                    store_type: null
                    store_name: Toko Oleh-Oleh Haji Mabrur
                    email: budi@example.com
                    address:
                      province: DKI Jakarta
                      city: Jakarta Pusat
                      district: Menteng
                      subdistrict: Pegangsaan
                      postal_code: "10320"
                    created_at: "2026-02-10T08:00:00Z"
                  - id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                    status: submitted
                    store_type: ppiu
                    store_name: Umrah Store Jakarta
                    email: siti@example.com
                    address: null
                    created_at: "2026-02-09T14:00:00Z"
                errors: null
                meta:
                  page: 1
                  limit: 10
                  total_items: 2
                  total_pages: 1
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: missing authorization header
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: failed to list vendors
                data: null
                errors: "failed to list vendors: database timeout"
                meta: null
  /api/v1/admin/vendors/{id}:
    get:
      tags:
        - Admin Vendors
      summary: Get Vendor By ID
      description: |
        Mengambil detail vendor berdasarkan ID (UUID) untuk kebutuhan review admin.

        Response dikembalikan dalam shape kontrak review terbaru:
        - Informasi inti toko (`store_name`, `store_description`, `store_type`, `status`, `status_reason`, `email`)
        - Objek alamat terstruktur (`address`)
        - Objek penanggung jawab (`responsible_person`) termasuk NIK dan dokumen KTP
        - Daftar dokumen persyaratan utama (`requirements_documents`)

        Catatan:
        - `responsible_person`, `ktp`, dan item `requirements_documents` bisa berisi field nullable untuk data lama yang belum lengkap.
        - `mime_type` dan `file_size_bytes` diambil dari metadata object upload yang tersimpan.
      operationId: getAdminVendorById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID vendor dalam format UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Detail vendor berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorDetailEnvelope"
              example:
                success: true
                message: vendor retrieved successfully
                data:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  store_name: Toko Oleh-Oleh Haji Mabrur
                  store_description: Toko oleh-oleh haji terlengkap di Jakarta
                  store_type: souvenir_store
                  status: submitted
                  status_reason: null
                  email: budi@example.com
                  address:
                    province: DKI Jakarta
                    city: Jakarta Pusat
                    district: Menteng
                    subdistrict: Pegangsaan
                    postal_code: "10320"
                    address_line: Jl. Pegangsaan Barat No. 12
                  responsible_person:
                    name: Budi Santoso
                    phone: "+6281234567890"
                    email: budi@example.com
                    nik: "3173010101010001"
                    ktp:
                      id: e5f6a7b8-c9d0-1234-efab-345678901234
                      doc_type: owner_document_id
                      file_url: vendors/a1b2c3d4/documents/owner_document_id/uuid1
                      mime_type: image/jpeg
                      file_size_bytes: 245760
                  requirements_documents:
                    - id: f6a7b8c9-d0e1-2345-fabc-456789012345
                      doc_type: business_nib
                      file_url: vendors/a1b2c3d4/documents/business_nib/uuid2
                      mime_type: application/pdf
                      file_size_bytes: 102400
                    - id: a7b8c9d0-e1f2-3456-abcd-567890123456
                      doc_type: halal_certificate
                      file_url: vendors/a1b2c3d4/documents/halal_certificate/uuid3
                      mime_type: application/pdf
                      file_size_bytes: 204800
                  created_at: "2026-02-10T08:00:00Z"
                errors: null
                meta: null
        "400":
          description: ID vendor bukan UUID yang valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid vendor ID
                data: null
                errors: id must be a valid UUID
                meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: Vendor tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: failed to get vendor
                data: null
                errors: "failed to find vendor: database timeout"
                meta: null
  /api/v1/admin/vendors/{id}/approve:
    patch:
      tags:
        - Admin Vendors
      summary: Approve Vendor
      description: >
        Mengubah status vendor dari `submitted` atau `rejected` menjadi `active`.
        Menghapus `status_reason` jika ada, dan menyimpan admin yang menyetujui di `approved_by`/`approved_at`.
        Status user pemilik vendor juga diubah menjadi `active` jika belum.
      operationId: approveAdminVendor
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID vendor dalam format UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Vendor berhasil disetujui.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorActionEnvelope"
              example:
                success: true
                message: vendor approved successfully
                data:
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  status: active
                  message: vendor approved successfully
                errors: null
                meta: null
        "400":
          description: Request tidak valid (UUID salah atau transisi status tidak diizinkan).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                invalidVendorID:
                  summary: Format UUID tidak valid
                  value:
                    success: false
                    message: invalid vendor ID
                    data: null
                    errors: id must be a valid UUID
                    meta: null
                invalidTransition:
                  summary: Transisi status tidak valid
                  value:
                    success: false
                    message: 'invalid status transition: cannot approve vendor with status "draft"'
                    data: null
                    errors: null
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: Vendor tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: failed to approve vendor
                data: null
                errors: "failed to approve vendor: database timeout"
                meta: null
  /api/v1/admin/vendors/{id}/reject:
    patch:
      tags:
        - Admin Vendors
      summary: Reject Vendor
      description: >
        Mengubah status vendor dari `submitted` menjadi `rejected`. Memerlukan `reason` yang akan disimpan di `status_reason`.
        Status user pemilik vendor juga diubah menjadi `rejected`.
      operationId: rejectAdminVendor
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID vendor dalam format UUID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminVendorReasonRequest"
            example:
              reason: Dokumen KTP tidak valid dan foto toko tidak sesuai
      responses:
        "200":
          description: Vendor berhasil ditolak.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorActionEnvelope"
              example:
                success: true
                message: vendor rejected successfully
                data:
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  status: rejected
                  message: vendor rejected successfully
                errors: null
                meta: null
        "400":
          description: Request tidak valid (UUID salah, reason kosong, atau transisi status tidak diizinkan).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                invalidVendorID:
                  summary: Format UUID tidak valid
                  value:
                    success: false
                    message: invalid vendor ID
                    data: null
                    errors: id must be a valid UUID
                    meta: null
                reasonRequired:
                  summary: Reason wajib diisi
                  value:
                    success: false
                    message: reason is required
                    data: null
                    errors: "Key: 'AdminVendorReasonRequest.Reason' Error:Field validation for 'Reason' failed on the 'required' tag"
                    meta: null
                invalidTransition:
                  summary: Transisi status tidak valid
                  value:
                    success: false
                    message: 'invalid status transition: cannot reject vendor with status "active"'
                    data: null
                    errors: null
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: Vendor tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: failed to reject vendor
                data: null
                errors: "failed to reject vendor: database timeout"
                meta: null
  /api/v1/admin/vendors/{id}/block:
    patch:
      tags:
        - Admin Vendors
      summary: Blokir Vendor
      description: >
        Mengubah status vendor dari `active` atau `submitted` menjadi `blocked`.
        Memerlukan `reason` yang akan disimpan di `status_reason`.
      operationId: blockAdminVendor
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID vendor dalam format UUID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminVendorReasonRequest"
            example:
              reason: Pelanggaran ketentuan layanan
      responses:
        "200":
          description: Vendor berhasil diblokir.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorActionEnvelope"
              example:
                success: true
                message: vendor blocked successfully
                data:
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  status: blocked
                  message: vendor blocked successfully
                errors: null
                meta: null
        "400":
          description: Request tidak valid (UUID salah, reason kosong, atau transisi status tidak diizinkan).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                invalidVendorID:
                  summary: Format UUID tidak valid
                  value:
                    success: false
                    message: invalid vendor ID
                    data: null
                    errors: id must be a valid UUID
                    meta: null
                reasonRequired:
                  summary: Reason wajib diisi
                  value:
                    success: false
                    message: reason is required
                    data: null
                    errors: "Key: 'AdminVendorReasonRequest.Reason' Error:Field validation for 'Reason' failed on the 'required' tag"
                    meta: null
                invalidTransition:
                  summary: Transisi status tidak valid
                  value:
                    success: false
                    message: 'invalid status transition: cannot block vendor with status "draft"'
                    data: null
                    errors: null
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: Vendor tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: failed to block vendor
                data: null
                errors: "failed to block vendor: database timeout"
                meta: null
  /api/v1/admin/vendors/{id}/unblock:
    patch:
      tags:
        - Admin Vendors
      summary: Buka Blokir Vendor
      description: >
        Mengubah status vendor dari `blocked` menjadi `active`.
        Menghapus `status_reason` dan menyimpan admin yang membuka blokir di `approved_by`/`approved_at`.
        Status user pemilik vendor juga diubah menjadi `active` jika belum.
      operationId: unblockAdminVendor
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID vendor dalam format UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Vendor berhasil dibuka blokirnya.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessVendorActionEnvelope"
              example:
                success: true
                message: vendor unblocked successfully
                data:
                  vendor_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  status: active
                  message: vendor unblocked successfully
                errors: null
                meta: null
        "400":
          description: Request tidak valid (UUID salah atau transisi status tidak diizinkan).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              examples:
                invalidVendorID:
                  summary: Format UUID tidak valid
                  value:
                    success: false
                    message: invalid vendor ID
                    data: null
                    errors: id must be a valid UUID
                    meta: null
                invalidTransition:
                  summary: Transisi status tidak valid
                  value:
                    success: false
                    message: 'invalid status transition: cannot unblock vendor with status "active"'
                    data: null
                    errors: null
                    meta: null
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: invalid or expired token
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "404":
          description: Vendor tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: vendor not found
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: failed to unblock vendor
                data: null
                errors: "failed to unblock vendor: database timeout"
                meta: null
  /api/v1/admin/payments:
    get:
      tags:
        - Admin Payments
      summary: Get Payment List
      description: |
        Endpoint untuk mengambil daftar semua payment invoice beserta informasi terkait (order, customer, vendor).
        Data diambil dari tabel `payment_invoices` yang di-JOIN dengan `orders`, `users`, dan `vendors`.

        URL: `GET /api/v1/admin/payments`
        Header: `Authorization: Bearer <admin_jwt>`

        **Pagination:**
        - `page` — nomor halaman (default: 1)
        - `limit` — jumlah item per halaman (default: 10, maks: 100)

        **Filter:**
        - `status` — filter berdasarkan status pembayaran (`pending`, `paid`, `expired`, `failed`)

        **Pencarian:**
        - `search` — pencarian berdasarkan nama customer (`users.full_name`) atau nomor order (`orders.order_no`) (case-insensitive, partial match)

        **Sorting:**
        - `sort_by` — kolom untuk pengurutan: `created_at`, `amount`, `customer_name`, `status` (default: `created_at`)
        - `sort_order` — arah pengurutan: `asc` (ascending) atau `desc` (descending) (default: `desc`)
      operationId: listAdminPayments
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Nomor halaman (default 1).
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Jumlah item per halaman (default 10). Nilai <1 atau >100 akan dinormalisasi server menjadi 10.
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
        - name: status
          in: query
          description: Filter berdasarkan status pembayaran.
          required: false
          schema:
            type: string
            enum:
              - pending
              - paid
              - expired
              - failed
        - name: search
          in: query
          description: Pencarian berdasarkan nama customer atau nomor order (case-insensitive, partial match).
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          description: |
            Kolom yang digunakan untuk pengurutan. Default: `created_at`.
          required: false
          schema:
            type: string
            enum:
              - created_at
              - amount
              - customer_name
              - status
            default: created_at
        - name: sort_order
          in: query
          description: |
            Arah pengurutan. Default: `desc` (descending/terbaru dulu).
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: start_date
          in: query
          description: |
            Filter tanggal mulai (inklusif). Format: `YYYY-MM-DD`.
          required: false
          schema:
            type: string
            format: date
            example: "2026-04-01"
        - name: end_date
          in: query
          description: |
            Filter tanggal akhir (inklusif). Format: `YYYY-MM-DD`.
          required: false
          schema:
            type: string
            format: date
            example: "2026-04-07"
      responses:
        "200":
          description: Daftar pembayaran berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessPaymentListEnvelope"
              example:
                success: true
                message: payments retrieved successfully
                data:
                  - invoice_id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                    order_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    order_no: ORD-20260327-ABC123
                    customer_name: Ahmad Fauzi
                    vendor_name: Toko Oleh-Oleh Haji Mabrur
                    payment_method: BANK_TRANSFER
                    amount: 150000
                    status: paid
                    created_at: "2026-03-27T10:00:00Z"
                  - invoice_id: a2b3c4d5-e6f7-8901-bcde-f12345678901
                    order_id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                    order_no: ORD-20260327-DEF456
                    customer_name: Siti Aminah
                    vendor_name: Umrah Store Jakarta
                    payment_method: null
                    amount: 75000
                    status: pending
                    created_at: "2026-03-27T09:30:00Z"
                errors: null
                meta:
                  page: 1
                  limit: 10
                  total_items: 2
                  total_pages: 1
        "401":
          description: Token tidak ada, format salah, atau token expired/invalid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: missing authorization header
                data: null
                errors: null
                meta: null
        "403":
          description: User tidak memiliki izin role admin.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: insufficient permissions
                data: null
                errors: null
                meta: null
        "500":
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: failed to list payments
                data: null
                errors: "failed to list payments: database timeout"
                meta: null
  /api/v1/admin/payments/summary:
    get:
      tags:
        - Admin Payments
      summary: Get Payment Summary
      description: |
        Mengembalikan ringkasan total nominal pembayaran berdasarkan status.
        Mendukung filter tanggal (`start_date`, `end_date`) untuk melihat ringkasan periode tertentu.

        URL: `GET /api/v1/admin/payments/summary`
        Header: `Authorization: Bearer <admin_jwt>`

        **Response fields:**
        - `total_amount` — total semua transaksi (semua status)
        - `paid_amount` — total transaksi berstatus `paid`
        - `pending_amount` — total transaksi berstatus `pending`
        - `failed_amount` — total transaksi berstatus `failed` + `expired`
      operationId: getAdminPaymentSummary
      security:
        - BearerAuth: []
      parameters:
        - name: start_date
          in: query
          description: |
            Filter tanggal mulai (inklusif). Format: `YYYY-MM-DD`.
          required: false
          schema:
            type: string
            format: date
            example: "2026-04-01"
        - name: end_date
          in: query
          description: |
            Filter tanggal akhir (inklusif). Format: `YYYY-MM-DD`.
          required: false
          schema:
            type: string
            format: date
            example: "2026-04-07"
      responses:
        "200":
          description: Ringkasan pembayaran berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessPaymentSummaryEnvelope"
              example:
                success: true
                message: payment summary retrieved successfully
                data:
                  total_amount: 125000000
                  paid_amount: 118000000
                  pending_amount: 5000000
                  failed_amount: 2000000
                errors: null
                meta: null
        "401":
          description: Token tidak ada atau invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Bukan admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/admin/payments/export:
    get:
      tags:
        - Admin Payments
      summary: Export Payment CSV
      description: |
        Mengekspor seluruh data pembayaran dalam format CSV (tanpa pagination).
        Mendukung semua filter yang sama dengan endpoint list (`status`, `search`, `start_date`, `end_date`, `sort_by`, `sort_order`).

        URL: `GET /api/v1/admin/payments/export`
        Header: `Authorization: Bearer <admin_jwt>`

        **Kolom CSV:** Tanggal, Invoice ID, Order No, Customer, Vendor, Metode, Nominal, Status
      operationId: exportAdminPayments
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [pending, paid, expired, failed, refunded]
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum: [created_at, amount, customer_name, status]
            default: created_at
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        "200":
          description: File CSV berhasil diunduh.
          headers:
            Content-Disposition:
              schema:
                type: string
                example: "attachment; filename=\"payments.csv\""
          content:
            text/csv:
              schema:
                type: string
                format: binary
        "401":
          description: Token tidak ada atau invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Bukan admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/v1/admin/settings/banners:
    post:
      tags:
        - Admin Settings - Banners
      summary: Create Banner (Presign Upload)
      description: |
        Membuat banner baru dan menghasilkan presigned URL untuk upload gambar ke S3.
        Setelah upload berhasil, konfirmasi dengan endpoint `POST /api/v1/admin/settings/banners/{id}/confirm`.
      operationId: createAdminBanner
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BannerCreateRequest"
            example:
              title: Promo Haji 2026
              content_type: image/jpeg
      responses:
        "201":
          description: Banner dibuat, gunakan upload_url untuk mengunggah gambar ke S3.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessBannerPresignEnvelope"
              example:
                success: true
                message: banner created, upload image using the presigned URL
                data:
                  banner_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  upload_url: "https://s3.amazonaws.com/bucket/banners/a1b2c3d4.jpg?X-Amz-Signature=..."
                  object_key: banners/a1b2c3d4-e5f6-7890-abcd-ef1234567890.jpg
                  expires_in: 900
                errors: null
                meta: null
        "400":
          description: Request tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: validation failed
                data: null
                errors: "content_type must be one of: image/jpeg, image/png, image/webp"
                meta: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      tags:
        - Admin Settings - Banners
      summary: List Banners (Admin)
      description: Mengambil daftar semua banner (termasuk yang belum aktif).
      operationId: listAdminBanners
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Daftar banner berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessBannerListEnvelope"
              example:
                success: true
                message: banners loaded
                data:
                  - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    title: Promo Haji 2026
                    image_url: "https://cdn.umrahmart.com/banners/a1b2c3d4.jpg"
                    created_at: "2026-03-04T10:00:00Z"
                    updated_at: "2026-03-04T10:05:00Z"
                errors: null
                meta: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/admin/settings/banners/{id}:
    get:
      tags:
        - Admin Settings - Banners
      summary: Get Banner Detail
      operationId: getAdminBannerById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Detail banner berhasil diambil.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessBannerEnvelope"
              example:
                success: true
                message: banner loaded
                data:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  title: Promo Haji 2026
                  image_url: "https://cdn.umrahmart.com/banners/a1b2c3d4.jpg"
                  created_at: "2026-03-04T10:00:00Z"
                  updated_at: "2026-03-04T10:05:00Z"
                errors: null
                meta: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Banner tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: banner not found
                data: null
                errors: null
                meta: null
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      tags:
        - Admin Settings - Banners
      summary: Update Banner
      description: |
        Update judul dan/atau gambar banner.

        **Update judul saja** — kirim hanya `title`:
        ```json
        { "title": "Judul Baru" }
        ```

        **Update gambar** — kirim `content_type` (dan opsional `title`). Response akan menyertakan `upload_url` dan `object_key`.
        FE upload gambar langsung ke `upload_url`, lalu konfirmasi dengan `POST .../confirm`.
        ```json
        { "title": "Judul Baru", "content_type": "image/jpeg" }
        ```
      operationId: updateAdminBanner
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BannerUpdateRequest"
            examples:
              title_only:
                summary: Update judul saja
                value:
                  title: "Promo Haji 2026 — Updated"
              with_image:
                summary: Update judul + gambar (request presign)
                value:
                  title: "Promo Haji 2026 — Updated"
                  content_type: "image/jpeg"
      responses:
        "200":
          description: Banner berhasil diperbarui.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BannerUpdateEnvelope"
              examples:
                title_only:
                  summary: Response update judul saja
                  value:
                    success: true
                    message: banner updated
                    data:
                      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      title: "Promo Haji 2026 — Updated"
                      image_url: "https://cdn.umrahmart.com/banners/a1b2c3d4.jpg"
                      created_at: "2026-03-04T10:00:00Z"
                      updated_at: "2026-04-07T08:30:00Z"
                    errors: null
                    meta: null
                with_image:
                  summary: Response update dengan presign URL
                  value:
                    success: true
                    message: banner updated
                    data:
                      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      title: "Promo Haji 2026 — Updated"
                      image_url: "banners/a1b2c3d4-e5f6/1744000000000"
                      created_at: "2026-03-04T10:00:00Z"
                      updated_at: "2026-04-07T08:30:00Z"
                      upload_url: "https://minio.example.com/kemenhaj/banners/a1b2c3d4/...?X-Amz-Signature=..."
                      object_key: "banners/a1b2c3d4-e5f6/1744000000000"
                      expires_in: 1800
                    errors: null
                    meta: null
        "400":
          description: content_type tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Banner tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: banner not found
                data: null
                errors: null
                meta: null
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Admin Settings - Banners
      summary: Delete Banner
      operationId: deleteAdminBanner
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Banner berhasil dihapus.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessNoDataEnvelope"
              example:
                success: true
                message: banner deleted
                data: null
                errors: null
                meta: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Banner tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: banner not found
                data: null
                errors: null
                meta: null
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/admin/settings/banners/{id}/confirm:
    post:
      tags:
        - Admin Settings - Banners
      summary: Confirm Banner Upload
      description: Mengonfirmasi bahwa gambar banner telah berhasil diunggah ke S3 menggunakan presigned URL.
      operationId: confirmAdminBanner
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BannerConfirmRequest"
            example:
              object_key: banners/a1b2c3d4-e5f6-7890-abcd-ef1234567890.jpg
      responses:
        "200":
          description: Upload gambar banner dikonfirmasi.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessBannerEnvelope"
              example:
                success: true
                message: banner image confirmed
                data:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  title: Promo Haji 2026
                  image_url: "https://cdn.umrahmart.com/banners/a1b2c3d4.jpg"
                  created_at: "2026-03-04T10:00:00Z"
                  updated_at: "2026-03-04T10:01:00Z"
                errors: null
                meta: null
        "400":
          description: object_key tidak valid.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: validation failed
                data: null
                errors: "object_key is required"
                meta: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Banner tidak ditemukan.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                message: banner not found
                data: null
                errors: null
                meta: null
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/admin/settings/categories:
    post:
      tags:
        - Admin Settings - Categories
      summary: Create Category
      operationId: createAdminCategory
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryCreateRequest"
            example:
              name: Perlengkapan Haji
      responses:
        "201":
          description: Kategori berhasil dibuat.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/RequestIDHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessCategoryEnvelope"
              example:
                success: true
                message: category created
                data:
                  id: c1d2e3f4-a5b6-7890-cdef-123456789012
[...]
